[Desktop Entry]
Name=ITGmania
GenericName=Rhythm and dance game
TryExec=/home/[YOUR-USERNAME-HERE]/itgmania/itgmania
Exec=/home/[YOUR-USERNAME-HERE]/itgmania/itgmania
Terminal=false
Icon=/home/[YOUR-USERNAME-HERE]/itgmania/Data/logo.svg
Type=Application
Categories=Game;ArcadeGame
Comment=A cross-platform rhythm video game.